.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-urls {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}

a {
  color: #11998e;
  font-size: 15px;
  margin: 10px;
}

h3 {
  margin-bottom: 0;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.map-container {
  width: 90%;
  height: 38rem;
  border-radius: 20px;
  display: inline-block;
}

.map {
  height: 35rem;
  padding: 10px;
  display: block !important;
  border: 1px solid white;
}

.input-user {
  width: 50%;
  text-align: center;
  display: flex;
}

.input-user .counter {
  font-size: 35px;
  margin: auto;
}

.input-user .counter-div {
  width: 5%;
  padding: 10px;
  background: linear-gradient(to right, #11998e, #38ef7d);
  opacity: 1;
  border-radius: 10px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.modal-game-over {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e15554;
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
  border: 2px solid white;
}

#transition-modal-title,
#transition-modal-description,
#button-player-submit-typo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

#button-player-submit {
  width: 50%;
  justify-content: center;
  margin: 10px auto;
  align-items: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 15px;
  margin: 10px;
}
