html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-urls {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}

a {
  color: #11998e;
  font-size: 15px;
  margin: 10px;
}

h3 {
  margin-bottom: 0;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.loading-maps {
  height: 37rem;
  width: 95%;
  padding: 10px;
  display: block !important;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.map-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: inline-grid;
}

a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}

.map {
  height: 100%;
  display: block !important;
}

.map-container-pin {
  width: 30%;
  height: 30%;
  border-radius: 20px;
  position: absolute;
  padding: 10px;
  right: 0;
  bottom: 0;
}

#map-pin {
  transition: all 0.1s ease-in-out;
}
#map-pin:hover {
  border: 2px solid wheat;
  transform: scale(1.02);
}

.map-pin {
  height: 95%;
  padding: 10px;
  display: block !important;
  border: 1px solid white;
}

.input-user {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-.counter {
  font-size: 25px;
  margin: auto;
}

.counter-div {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  right: 5%;
  padding: 10px;
  background: linear-gradient(to right, #11998e, #38ef7d);
  opacity: 1;
  border-radius: 0px 0px 10px 10px;
}

.counter {
  margin: 0.5px;
}

.form__group {
  width: 40%;
  position: relative;
  padding: 15px 0 0;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.modal-game-over {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e15554;
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
  border: 2px solid white;
}

#transition-modal-title,
#transition-modal-description,
#button-player-submit-typo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

#button-player-submit {
  width: 50%;
  justify-content: center;
  margin: 10px auto;
  align-items: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 15px;
  margin: 10px;
}
